
h1{ background-color:orangered;
    margin:10px;
    padding-left :300px;
    width:1195px;
    height:50px;
    text-align: center;
}
 h2{
    background-color:green;
    margin: 10px ;
    padding-left :300px;   
    width: 1195px;
    height: 50px;
    text-align:justify;
 }

 h3{
    
    background-color:pink;
    margin: 10px ;
    padding-left :800px;   
    width: 1195px;
    height: 40px;
    text-align:justify;
    }
p{
    margin: 10px ;
    padding-left :800px;   
    width: 1195px;
    height: 40px;
    text-align:center;

}
body{
    background-color:orange;
}

image{

     padding: 300px;
     text-align: justify;
     position: justify;

}